src/main/mule/implementation/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	    <flow name="post:\cases:application\json:covid-uhub-sapi-config" doc:id="401cb9d4-ddb7-43ba-b588-204d8f2ff1ae">
        <set-variable value="#[attributes.headers.'x-transaction-id' default uuid()]" doc:name="Set X Transaction ID" doc:id="9789271b-38b5-445b-a0d8-2d88056b03a9" variableName="transactionId"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="9280c1c9-8d7d-4f6f-8c8f-638839dec092" message="transactionID: #[vars.transactionId], CoreelationID: #[vars.correlationId], message: started registration covid case flow, #[payload]"/>
		<ee:transform doc:name="Prepare Payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	source: payload.source,
	caseType: payload.caseType,
	firstName: payload.firstName,
    lastName: payload.lastName,
    phone: payload.phone,
    email: payload.email,
    dateOfBirth: payload.dateOfBirth as String{format: "yyyy-MM-dd"},
    nationalID: payload.nationalID,
    nationalIDType: payload.nationalIDType,
    streetAddress : payload.address.streetAddress,
    city: payload.address.city,
    state: upper(payload.address.state),
    postal: payload.address.postal,
    country: payload.address.country,
    createdAt: now() as String {format: "yyyy-MM-dd"},
    updatedAt: now() as String {format: "yyyy-MM-dd"},
    createdBy: "UHIS",
    updatedBy: "UHIS"
   	
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Register Case Flow Reference" doc:id="56e7a3dc-f13c-4cc7-8a36-8e645f0a31be" name="insert-case-dbSub_Flow"/>
		<ee:transform doc:name="prepare response" doc:id="d97d4035-1fed-4196-b629-8a2973fa6c1f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"registrationId": payload[0].GENERATED_KEY as String,
	"message": "Created Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="21826aca-c510-44ad-be15-10ecf02b1031" message="transactionID: #[vars.transactionId], CoreelationID: #[vars.correlationId], message: Ended Subflow registration covid case flow, #[payload]"/>
    
</flow>
	
	</mule>
